.Register-table{
    position: absolute;
    width: 25%;
    left: 40%;
    top:9%;
    background-color: #ffffff;
    z-index: 1;
    padding: 2%;
    border: 1px solid rgba(146, 145, 145, 0.4);
    transition-delay: 4s;
}


.Header-top-register{
    display: flex;
   justify-content: space-between;
}
.Header-top-register h1{
    font-size: 1rem;
}

.button-register{
    margin-top: 0.5rem;
   
}
.Register-footer {
    display: flex;
    justify-content: space-between;
}
.Register-footer a{
    color: blue;
    text-decoration : underline;
    font-style: italic;
}